@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  /* ----------HEADER------------- */

  .header {
    padding-bottom: 28px;
  }

  .link.current::after {
    bottom: -30px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-contacts {
    display: inline-block;
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-mail {
    margin-right: 40px;
  }

  /* -----------HERO-------------- */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_bg_desk_2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ----------PRINCIPLES---------- */

  .principles {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .principles-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .section-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  /* -------------TEAM--------------- */

  .team > .container {
    max-width: 1200px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  /* ----------CUSTOMERS----------- */

  .customers > .container {
    max-width: 1200px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list-item {
    width: calc((100% - 24px * 5) / 6);
  }

  /* ------------FOOTER-------------- */

  .footer > .container {
    flex-wrap: nowrap;
    max-width: 1200px;
    column-gap: 0;
    justify-content: space-between;
  }

  .footer .left-block {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer .center-block {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .section-list.soc-list {
    flex-wrap: nowrap;
  }
}
