@media screen and (min-width: 1200px) {
  /* -----------HERO-------------- */

  .container {
    width: 1200px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ----------PRINCIPLES---------- */

  .principles {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .principles-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  /* -------------TEAM--------------- */

  .team > .container {
    max-width: 1200px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  /* ----------CUSTOMERS----------- */

  .customers > .container {
    max-width: 1200px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list-item {
    width: calc((100% - 24px * 5) / 6);
  }

  /* ------------FOOTER-------------- */

  .footer > .container {
    flex-wrap: nowrap;
    max-width: 1200px;
    column-gap: 0;
    justify-content: space-between;
  }

  .footer .left-block {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer .center-block {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .section-list.soc-list {
    flex-wrap: nowrap;
  }
}
