@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }

  /* --------MOBILE MENU---------- */

  .mob-header-tel {
    font-size: 36px;
  }

  .mob-soc-list {
    column-gap: 56px;
  }

  /* ----------MODAL-------------- */

  .modal {
    width: 392px;
  }

  /* ------------HERO-------------- */

  .hero {
    background-size: cover;
  }
}

@media screen and (max-width: 767.5px) {
  /* ---------HEADER------------- */

  .nav-list {
    display: none;
  }

  .header-mail {
    display: none;
  }

  .header-tel {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  /* --------PRINCIPLES---------- */

  .icon-container {
    display: none;
  }

  /* ---------EXAMPLES------------ */

  .examples {
    display: none;
  }
}
